@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
    box-sizing: border-box;
}

.cards {
    width: 100% !important;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    max-width: 90%;
}

.card--1 .card__img--hover {
    background-image: url('media/proj_man/projectmanagement.png');
}

.card--2 .card__img--hover {
    background-image: url('media/cad/cad_img.png');
}
.card--3 .card__img--hover {
    background-image: url('media/ccc/Lasercutter.png');
}
.card--4 .card__img--hover {
    background-image: url('media/embedded/Embedded.png');
}
.card--5 .card__img--hover {
    background-image: url('media/3d/3d.png');
}
.card--6 .card__img--hover {
    background-image: url('media/pcb/pcb.png');
}
.card--7 .card__img--hover {
    background-image: url('media/ccm/ccm.png');
}.card--8 .card__img--hover {
    background-image: url('media/pcb_p/pcb_p.png');
}
.card--9 .card__img--hover {
        background-image: url('media/ip/ip.jpg');
}
.card--10 .card__img--hover {
    background-image: url('media/op/opimg.jpg');
}
.card--11 .card__img--hover {
    background-image: url('media/Networking_communications/netjpg.png');
}
.card--12 .card__img--hover {
    background-image: url('media/machine_design/m_d_img.jpg');
}
.card--13 .card__img--hover {
    background-image: url('media/mid_term/mid.png');
}
.card--14 .card__img--hover {
    background-image: url('media/molding/m_c_img.jpg');
}
.card--15 .card__img--hover {
    background-image: url('media/api/api.jpg');
}
.card--16 .card__img--hover {
    background-image: url('media/Sys_ing/sys.jpg');
}
.card--17 .card__img--hover {
    background-image: url('media/wildcard_week/leaf.jpg');
}
.card--18 .card__img--hover {
    background-image: url('media/UGV_base.png');
}
.card--19 .card__img--hover {
    background-image: url('media/Intellectual.jpg');
}
.card--20 .card__img--hover {
    background-image: url('media/comingsoon.png');
}


.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
    vertical-align: middle;
    fill: var(--text-color);
}

.card__time {
    font-size: 12px;
    color: var(--text-color);
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}

.card {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: var(--card-dark-mode-color);
    width: 33.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.76);
}

.card:hover {
    box-shadow: 0px 0px 18px rgba(242, 155, 4, 0.508);
    transform: scale(1.10, 1.10);
}

.card__info {
    z-index: 2;
    background-color: var(--card-dark-mode-color);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: var(--text-color);
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    color: var(--text-color);
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: var(--text-color);
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

