.three-column-layout {
    display: flex;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.three-column-layout .left-column {
    width: 300px;
    position: fixed;
    height: 200vh;
    left: 0;
    top: 0;
    background-color: var(--bg-color);
    padding: 20px;
    overflow-y: auto;
}

.three-column-layout .center-column {
    flex: 1;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    background-color: var(--bg-color);
    width: 500px;
}

.three-column-layout .right-column {
    width: 250px;
    position: fixed;
    right: 0;
    height: 100vh;
    background-color: var(--bg-color);
    padding: 20px;
    overflow-y: auto;
}

.three-column-layout .right-column a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ccc;
}

.three-column-layout .right-column a:hover {
    background-color: #ddd;
}

.three-column-layout .left-column ul {
    list-style: none;
    margin: 0;
    background-color: #1a1a1a;
    data-aos: fade-up;
}



.three-column-layout .left-column a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
}


